'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Gulp Task'
            'submenu': [
                {
                    'label': 'Toggle',
                    'command': 'gulp-task-launcher:toggle'
                }
            ]
        ]
    }
]

'context-menu':
    'atom-text-editor': [
        {
            'label': 'Gulp Task'
            'submenu': [
                {
                    'label': 'Toggle',
                    'command': 'gulp-task-launcher:toggle'
                }
            ]
        }
    ]
