'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Gulp Task'
            'submenu': [
                {
                    'label': 'Toggle',
                    'command': 'gulp-task-launcher:toggle'
                },
                {
                    'label': 'Stop',
                    'command': 'gulp-task-launcher:stop'
                },
                {
                    'label': 'Restart',
                    'command': 'gulp-task-launcher:restart'
                },
                {
                    'label': 'Previous',
                    'command': 'gulp-task-launcher:previous'
                },
                {
                    'label': 'Default',
                    'command': 'gulp-task-launcher:default'
                }
            ]
        ]
    }
]

'context-menu':
    'atom-text-editor': [
        {
            'label': 'Gulp Task'
            'submenu': [
                {
                    'label': 'Toggle',
                    'command': 'gulp-task-launcher:toggle'
                },
                {
                    'label': 'Stop',
                    'command': 'gulp-task-launcher:stop'
                },
                {
                    'label': 'Restart',
                    'command': 'gulp-task-launcher:restart'
                },
                {
                    'label': 'Previous',
                    'command': 'gulp-task-launcher:previous'
                },
                {
                    'label': 'Default',
                    'command': 'gulp-task-launcher:default'
                }
            ]
        }
    ]
